p {
  color: #FFFF82;
  font-size: 18px;
}
*{
  margin: 0;
  padding: 0;
}
.embed{
  display: none;
}
/* Set the font, lean the board, position it */
#board {
  background: black;
  font-family: "ariel", sans-serif;
  transform: perspective(300px) rotateX(15deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 20px;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}
.global{
  background: black;
  width: 100vw;
  height: 100vh;
}
#board:after {
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 100s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}